.healthBack {
    margin: 0 auto;
    position: absolute;
    height: 100px;
    
    bottom: 50px;
    padding: 5px;
    background-color: #323232;
    box-shadow: 0 0 5px black;
}

.healthIconBack {
    margin-right: 5px;
    align-items: center;
}

.healthIcon {
    color: maroon;
    text-align: center;
    text-shadow: 0 0 1px black;
    font-family: MaterialIcons;
    font-size: 80px;
}





.healthText {
    text-align: center;

    
    font-size: 50px;
    color: maroon;
    text-shadow: 0 0 1px black;
    font-weight: bold;
}
