.healthBack {

    position: absolute;
    left: 50px;
    bottom: 50px;
    padding: 5px;
    background-color: #323232;
}

.healthBarBack {
    width: 250px;
    background-color: #212121;
}

.healthBar {

    background-color: maroon;
}

.healthText{
    
    color: indianred;
    text-shadow: 0 0 1px black;
    font-weight: bold;


}